<div class="sign-up-container p-3">
  <%= render 'shared/navbar' %>
  <div class="question-container mt-3 p-4">
    <h2 class="text-center">Créer un compte</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="question-input">
          <%= f.input :nickname, label: "Pseudonyme :",
                    required: true,
                    input_html: { autocomplete: "Pseudonyme" } %>
        </div>
        <div class="name-tag">
          <div class="col">
            <div class="question-input">
              <%= f.input :first_name, label: "Prénom :",
                          required: true,
                          input_html: { autocomplete: "Prénom" } %>
            </div>
          </div>
          <div class="col">
            <div class="question-input">
              <%= f.input :last_name, label: "Nom :",
                          required: true,
                          input_html: { autocomplete: "Nom" } %>
            </div>
          </div>
        </div>
        <div class="question-input">
          <%= f.input :photo, as: :file, label: "Photo de profil :" %>
        </div>
        <div class="question-input">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
        </div>
        <div class="question-input">
          <%= f.input :password, label: "Mot de passe :",
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "Mot de passe" } %>
        </div>
        <div class="question-input">
          <%= f.input :password_confirmation, label: "Confirmation du mot de passe :",
                      required: true,
                      input_html: { autocomplete: "Mot de passe" } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'inscrire" %>
      </div>
    <% end %>
  </div>
</div>
