<div class="dashboard-container">
  <%= render 'shared/navbar' %>
  <div class="dash-container d-flex">
    <div class="left-div d-flex flex-column">
      <div class="profile-div d-flex flex-column align-items-center justify-content-between">
        <div class="image-nickname d-flex flex-column align-items-center">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "dash-image mt-4" %>
          <% end %>
            <div class="dash-user-nickname mt-2 mb-2"><%= @user.nickname %></div>
            <div class="dash-user-level"><%= "Niveau   #{@user.level.number}" %></div>
          </div>
            <div class="dash-level-bar"
              data-controller="level-bar"
              data-level-bar-progress-value="<%= @progression %>"
              data-level-bar-current-points-value="<%= @user.points %>"
              data-level-bar-next-level-points-value="<%= @next_level_points %>">
            <div class="progress-bar" data-level-bar-target="progressBar"></div>
          </div>
          <div class="dash-user-points mt-2 mb-2"><%=@user.points%><span class="smaller-font"><%= @user.points > 1 ? "pts" : "pt" %></span></div>
      </div>

      <div class="badge-div mt-2 mb-3">
      </div>
    </div>

    <div class="right-div d-flex flex-column ms-3 mb-3 mt-3">
      <div class="game-stats d-flex flex-column">
        <div class="game-lev d-flex justify-content-around align-items-center">
          <div class="all-games filt">Global</div>
          <div class="rookie filt">Rookie</div>
          <div class="sophomore filt">Sophomore</div>
          <div class="senior filt">Senior</div>
          <div class="hall-of-fame filt">Hall of Fame</div>
        </div>
        <div class="stat-lev d-flex">
          <div class="global-stats"></div>
          <div class="specific-stats"></div>
        </div>
      </div>
    </div>
  </div>
</div>
