
  <%= render 'shared/navbar' %>

<div>
  <video autoplay loop muted playsinline class="video-background">
    <source src="<%= asset_path('background_video.mp4') %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>

<%= link_to new_player_path do  %>
  <div class="button-classic d-none">Add your own player</div>
<% end %>

<%= link_to list_path do %>
  <div class="button-classic d-none">Update a player</div>
<% end %>

<div class="container-home d-none">
  <div id="home" class="flex-column flex-center">
    <h1>Basketball Players Knowledge Test</h1>
    <div class="btn-home easy-game">
      <%= link_to start_easy_game_path, method: :post, class: 'btn-home' do %>
        <h2>Easy</h2>
      <% end %>
    </div>

      <div class="btn-home">
        <%= link_to start_easy_game_path, method: :post, class: 'btn-home' do %>
          <h2>Medium</h2>
        <% end %>
      </div>

      <div class="btn-home">
        <%= link_to start_easy_game_path, method: :post, class: 'btn-home' do %>
          <h2>Hard</h2>
        <% end %>
      </div>

       <div class="btn-home">
        <%= link_to start_easy_game_path, method: :post, class: 'btn-home' do %>
          <h2>Legend</h2>
        <% end %>
       </div>
  </div>
</div>
