<div class="page-container-ok">
  <%= render 'shared/navbar' %>
  <div id="home" class="flex-column flex-center margin mt-5">

    <div class="btn-home easy-game">
      <%= link_to start_easy_game_path, method: :post, class: 'btn-home' do %>
        <h2>Easy</h2>
      <% end %>
    </div>

    <div class="btn-home">
      <%= link_to start_easy_game_path, method: :post, class: 'btn-home' do %>
        <h2>Medium</h2>
      <% end %>
    </div>

    <div class="btn-home">
      <%= link_to start_easy_game_path, method: :post, class: 'btn-home' do %>
        <h2>Hard</h2>
      <% end %>
    </div>

    <div class="btn-home">
      <%= link_to start_easy_game_path, method: :post, class: 'btn-home' do %>
        <h2>Legend</h2>
      <% end %>
    </div>
  </div>
</div>
