<!DOCTYPE html>
<html>
  <head>
    <title>BasketBallPlayerFinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fantasy&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  </head>

  <body data-turbolinks="false">
    <%= render "shared/flashes" %>
     <%# <%= cl_video_tag("background_video", autoplay: true, loop: true, muted: true, class: "video-background") %>

    <%= yield %>
  </body>
</html>
